/nbproject/private/
/target/
/javadoc/

# Eclipse files #
/.classpath
/.project
/.settings

# Intellij Idea
.idea
*.iml
*.ipr
*.iws

src/main/chart_photos
src/main/java/*.png
src/main/java/*.jpeg
src/test/java/test261P/*.png
